{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'Signup_Signin/Signup_Signin/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'Signup_Signin/Signup_Signin/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form " action="/signup/" method="post">

                    {% csrf_token %}
                    <img  class="back-lunchninja" src="{% static 'Signup_Signin/Signup_Signin/images/background.png'%}" alt=" ">
					<span class="login100-form-title p-t-30 p-b-15 ">
						Sign up to lunch ninja
					</span>
                    {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

					<div class="wrap-input100  m-b-16" data-validate = "Invalid username">
{#                        <input class="input100" type="text" name="username" placeholder="Username">#}
                        {{signup_form.username}}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-user"></span>
						</span>
					</div>
                        {% if username %}
                          <div class="alert alert-warning">{{ username }}</div>
                        {% endif %}
                    <div class="wrap-input100  m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
{#						<input class="input100" type="text" name="email" placeholder="Email">#}
                        {{signup_form.email}}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
                         {% if email %}
                          <div class="alert alert-warning">{{ email }}</div>
                        {% endif %}
                    <div class="wrap-input100  m-b-16" data-validate = "Enter first name">

{#                        <input class="input100" type="text" name="username" placeholder="Username">#}
                        {{ signup_form.first_name }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
					</div>
                         {% if firstname %}
                          <div class="alert alert-warning">{{ firstname }}</div>
                        {% endif %}
                    <div class="wrap-input100  m-b-16" data-validate = "Enter last name">

{#                        <input class="input100" type="text" name="username" placeholder="Username">#}
                        {{ signup_form.last_name }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
					</div>
                        {% if lastname %}
                          <div class="alert alert-warning">{{ lastname }}</div>
                        {% endif %}
                    <div class="wrap-input100  m-b-16" data-validate = "Enter Phone number">
{#                        <input class="input100" type="text" name="username" placeholder="Username">#}
                        {{ signup_form.Phone }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-smartphone"></span>
						</span>
					</div>
                        {% if Phone %}
                          <div class="alert alert-warning">{{ Phone }}</div>
                        {% endif %}
                    <div class="wrap-input100  m-b-16" data-validate = "Enter school">
{#                        <input class="input100" type="text" name="username" placeholder="Username">#}
                        {{ signup_form.school }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-book"></span>
						</span>
					</div>
                        {% if school %}
                          <div class="alert alert-warning">{{ school }}</div>
                        {% endif %}
					<div class="wrap-input100  m-b-16" data-validate = "Enter department">

{#                        <input class="input100" type="text" name="username" placeholder="Department">#}
                        {{ signup_form.department }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-book"></span>
						</span>
					</div>
                        {% if department %}
                          <div class="alert alert-warning">{{ department }}</div>
                        {% endif %}
					<div class="wrap-input100  m-b-16" data-validate = "Password is too short">
{#						<input class="" type="password" name="pass" placeholder="Password">#}
                        {{ signup_form.password1 }}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
                         {% if password1 %}
                          <div class="alert alert-warning">{{ password1 }}</div>
                        {% endif %}
					<div class="wrap-input100  m-b-16" data-validate = "Password is too short">
{#						<input class="input100" type="password" name="pass" placeholder="Password">#}
                        {{ signup_form.password2 }}

						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
                         {% if password2 %}
                          <div class="alert alert-warning">{{ password2 }}</div>
                        {% endif %}
					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn p-t-25">
						<button type='submit' class="login100-form-btn">
							Login
						</button>
					</div>

					<!--<div class="text-center w-full p-t-42 p-b-22">-->
						<!--<span class="txt1">-->
							<!--Or login with-->
						<!--</span>-->
					<!--</div>-->

					<!--<a href="#" class="btn-face m-b-10">-->
						<!--<i class="fa fa-facebook-official"></i>-->
						<!--Facebook-->
					<!--</a>-->

					<!--<a href="#" class="btn-google m-b-10">-->
						<!--<img src="{% static 'Signup_Signin/Signup_Signin/images/icons/icon-google.png'%}" alt="GOOGLE">-->
						<!--Google-->
					<!--</a>-->

					<div class="text-center w-full p-t-115">
						<span class="txt1">
							Already a member?
						</span>

						<a class="txt1 bo1 hov1" href="/login/">
							log in now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="{% static 'Signup_Signin/Signup_Signin/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Signup_Signin/Signup_Signin/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'Signup_Signin/Signup_Signin/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Signup_Signin/Signup_Signin/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Signup_Signin/Signup_Signin/js/main.js'%}"></script>

</body>
</html>