
.p-t-25 {padding-top: 25px;}
.p-t-30 {padding-top: 30px;}
.p-t-77 {padding-top: 77px;}
.p-t-115 {padding-top: 115px;}
.p-b-15 {padding-bottom: 15px;}
.p-b-30 {padding-bottom: 30px;}
.p-l-50 {padding-left: 50px;}
.p-r-50 {padding-right: 50px;}
.m-b-16 {margin-bottom: 16px;}
.m-l-4 {margin-left: 4px;}










