<!DOCTYPE html>
<html lang="en">
<style type="text/css">
input[type="radio"]{margin-left: 100px;}
</style>
<body>
<form role="form" id="feedback_form" class="registration-form" method="post">
                {% csrf_token %}
               <fieldset style="display: block;">
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Thanks for being a valued member of LunchNinja!</h3>
                         We're trying to learn more about how you recently experienced the matched meeting so that you can help us improve it.<br><br>
                         {% if latest_question_list %}
                            <div>
                            {% for question in latest_question_list %}
                                <b>{{ question.question_text }}</b><br><br>
                                {% for choice in question.choice_set.all%}
                                   <input type="radio" name={{question.label}} id={{choice.choice_text }} value="{{choice.choice_text }}">
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                   {% endfor %}
                                <br>
                            {% endfor %}
                            </div>
                        {% endif %}

                         <br><br>
                         <b>Any other comments?</b><br>
                         <textarea type="input" rows="8" cols="100"></textarea>
{#                         <input type="text" name="comments"><br>#}
                     </div>
                     <br>
                  </div>
               </fieldset>
        <button type="submit" class="btn btn-warning">Submit</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    </form>
</body>
</html>