{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Lunch Ninja</title>
	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- Custom styles for this template -->
	<link href="{% static 'css/agency.css'%}" rel="stylesheet">
	<!-- Bootstrap and Jquery CSS and JS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style type="text/css">
        input[type="radio"]{margin-left: 100px;}
            .btn {
        border: none;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        }

        .warning {background-color: #ff9800;} /* Orange */
        .warning:hover {background: #e68a00;}
        
    </style>
    <script type ="text/javascript">
    function submitclick() {
        alert("Thank you for submitting your feedback!");
        
    }
    function submitclose() {
        location.href="/homepage";
    }
    </script>
</head>
<body id="page-top">
	
	<!-- Navigation -->
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/homepage/">Lunch Ninja</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<!-- Body -->
	<div class="container">
        <br>
		<form role="form" id="feedback_form" class="registration-form" method="post">
                {% csrf_token %}
               <fieldset style="display: block;">
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Thanks for being a valued member of LunchNinja!</h3>
                         We're trying to learn more about how you recently experienced the matched meeting so that you can help us improve it.<br><br>
                         {% if latest_question_list %}
                            <div>
                            {% for question in latest_question_list %}
                                <b>{{ forloop.counter }}) {{ question.question_text }}</b><br><br>
                                {% if question.id == 2 or question.id == 3 %}
                                        <pre>          <b>No way</b>                                                           <b>Definitely</b></pre>
                                    {% endif %}
                                {% if question.id == 4 %}
                                        <pre>           <b>Terrible</b>                                                        <b>Amazing</b></pre>
                                    {% endif %}
                                {% for choice in question.choice_set.all%}
                                   <input type="radio" name={{question.label}} id={{choice.choice_text }} value="{{choice.choice_text }}" required>
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                   {% endfor %}
                                <br><br>
                            {% endfor %}
                            </div>
                        {% endif %}
                         <b>5) Any other comments?</b><br>
                         <textarea type="input" id="comment" name="comment" rows="8" cols="100"></textarea>
                     </div>
                     <br>
                  </div>
               </fieldset>
        <button type="submit" class="btn warning" onclick="submitclick()">Submit</button>
        <button type="button" class="btn warning" data-dismiss="modal" onclick="submitclose()">Close</button>
        <br>
        <br>
    </form>
	</div>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>