{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Lunch Ninja</title>
	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- Custom styles for this template -->
	<link href="{% static 'css/agency.css'%}" rel="stylesheet">
	<!-- Bootstrap and Jquery CSS and JS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body id="page-top">
	
	<!-- Navigation -->
	{% include "nav_bar.html" %}

	<!-- Body -->
	<div class="container">
		<br>
		<h3>Next Lunch</h3>
		{% if next_lunch_matches%}
			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email Id</th>
					<th scope="col">NYU School & Department</th>
					<th scope="col">Preffered conversation interests</th>
					<th scope="col">Preffered cuisines</th>
					<th scope="col">Lunch Day</th>
					</tr>
				</thead>
				<tbody>
					{% for match in next_lunch_matches %}
						<tr>
							<th scope="row" data-id=forloop.counter data-match=match data-toggle="modal" data-target="#MatchhistoryModal" href="#MatchhistoryModal">{{forloop.counter}}</th>
							<td>{{match.matched_user_name}}</td>
							<td>{{match.matched_email}}</td>
							<td>{{match.matched_user_school}}: {{match.matched_user_department}}</td>
							<td>{{match.matched_user_interests}}</td>
							<td>{{match.matched_user_cuisines}}</td>
							<td>{{match.match_time | date:"jS F Y"}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="border-top my-3"></div>
			<h5>No upcomming lunch</h5>
		{% endif %}
		<br>
		<br>
		<h3>Lunch History</h3>
		{% if past_lunch_macthes%}
			
			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email Id</th>
					<th scope="col">NYU School & Department</th>
					<th scope="col">Preffered conversation interests</th>
					<th scope="col">Preffered cuisines</th>
					<th scope="col">Lunch Day</th>
					</tr>
				</thead>
				<tbody>
					{% for match in past_lunch_macthes %}
						<tr>
							<th scope="row">{{forloop.counter}}</th>
							<td>{{match.matched_user_name}}</td>
							<td>{{match.matched_email}}</td>
							<td>{{match.matched_user_school}}: {{match.matched_user_department}}</td>
							<td>{{match.matched_user_interests}}</td>
							<td>{{match.matched_user_cuisines}}</td>
							<td>{{match.match_time | date:"jS F Y"}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="border-top my-3"></div>
			<h5>No lunch history found</h5>
		{% endif %}

	</div>

{% comment %} 
	<div class="modal fade" id="MatchhistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Service</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				</table>
			</div>
		</div>
	</div>
	</div>


    <script>
        $(document).on("click", ".open-MatchhistoryModal", function () {
            var Id = $(this).data('id');
            var matches = $(this).data('match');
            window.alert(matches)
            $(".modal-body #restaurant").val( matches.restaurants );
        });
    </script> {% endcomment %}

	<!-- Footer -->
	{% comment %} {% include "footer.html" %} {% endcomment %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiselect/2.2.9/js/multiselect.min.js"></script>
<script type="text/javascript" src="{% static 'js/service-pop-up.js' %}"></script>
</html>