<!--Service Select Modal-->
<div class="modal fade" id="myModal1" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Service</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form role="form" id="service_select_form" class="registration-form">
               {% csrf_token %}
               <fieldset style="display: block;">
                  <div class="form-top">
                     <div class="form-top-left">
                        <h4>Step 1 of 5</h4>
                        <div class="dropdown col-md-12" >
                           Select preferred type of service:
                           <select class="form-control" type="text" id="serviceSelect" name="{{selected_type}}">

                               {% if selected_type  == "Daily"  %}
                                  <option selected>Daily</option>
                                  <option>Weekly</option>
                                  <option>Monthly</option>
                               {% endif %}
                               {% if selected_type  == "Weekly"  %}
                                  <option>Daily</option>
                                  <option selected>Weekly</option>
                                  <option>Monthly</option>
                               {% endif %}
                               {% if selected_type  == "Monthly"  %}
                                  <option>Daily</option>
                                  <option selected>Weekly</option>
                                  <option>Monthly</option>
                               {% endif %}
                           </select> 
                        </div>
                         <div id="daysSelectContainer" class="col-md-12" name={{selected_type}}>
                           <br>
                           Select preferred day(if any):
                           <select id="daysSelect" placeholder="Select preferred days" multiple>
                              {% for days in week_days %}
                                  {% if days in selected_days %}
                                      <option selected="selected" value="{{ days.id }}" name="{{ days.day }}"> {{  days.day }} </option>
                                    {% else %}
                                      <option value="{{ days.id }}" name="{{ days.day }}">{{ days.day }}</option>
                                  {% endif %}
                              {% endfor %}
                           </select> 
                        </div>
                     </div>
                     <br>
                  </div>
               </fieldset>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-warning btn-next">Next</button>
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- School and department select Modal -->
<div class="modal fade" id="myModal2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">School and Department</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="school_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h4>Step 2 of 5</h4>
                        <div class="dropdown row">
                            <div class="col-md-6">
                                 Select preferred school:
                                 <select class="form-control" type="text" id="schoolSelect" name="schoolSelect" placehoder="{{ school.name }}" >
                                    {% for school in schools %}
                                          <option value="{{ school.name }}" name="{{ school.name }}" selected>{{ school.name }}</option>
                                    {% endfor %}
                                 </select> 
                            </div>
                            <div class="col-md-6">
                                 Select preferred department:
                                 <select class="form-control" type="text" id="departmentSelect" name="departmentSelect" >
                                     <option selected="selected" value="{{ selected_department.name }}" name="{{ selected_department.name }}"> {{ selected_department.name }} </option>

                                    {% for department in departments %}
                                        <option value="{{ department.name }}" name="{{ department.name }}" selected>{{ department.name }}</option>
                                    {% endfor %}
                                 </select> 
                            </div>
                        </div>
                     </div>
                     <br>
                  </div>
               </fieldset>
               <div class="modal-footer">
                  <button type="button" class="btn btn-warning btn-prev">Prev</button>
                  <button type="submit" class="btn btn-warning btn-next">Next</button>
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Cuisine select Modal -->
<div class="modal fade" id="myModal3" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Cuisine</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="cuisine_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h4>Step 3 of 5</h4>
                        <p>Select preferred Cuisine:</p>
                                      
                        <div class="col-md-12"> 
                           <select id="cuisineSelect" placeholder="Select upto 10 cuisines" multiple>
                              {% for selected in selected_cuisine %}
                                  <option selected="selected" value="{{ selected.id }}" name="{{ selected.name }}"> {{ selected.name }} </option>
                              {% endfor %}
                              {% for cuisine in cuisines %}
                                    {% if not cuisine in selected_cuisine %}
                                      <option value="{{ cuisine.id }}" name="{{ cuisine.name }}"> {{ cuisine.name }} </option>
                                    {% endif %}
                              {% endfor %}

                           </select> 
                        </div>
                        <br>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-warning btn-prev">Prev</button>
                     <button type="submit" class="btn btn-warning btn-next">Next</button>
                     <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
               </fieldset>
            </form>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         </div>
      </div>
   </div>
</div>

<!-- Interest select Modal -->
<div class="modal fade"  id="myModal4" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Conversation Interest</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="interest_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h4>Step 4 of 5</h4>
                        <p>Select preferred conversation type:</p>
                        
                        <div class="col-md-12"> 
                           <select id="interestSelect" placeholder="Select upto 10 interests" multiple>
                               {% for selected in selected_interest %}
                                  <option selected="selected" value="{{ selected.id }}" name="{{ selected.name }}"> {{ selected.name }} </option>
                              {% endfor %}
                              {% for interest in interests %}
                                  {% if not interest in selected_interest %}
                                    <option value="{{ interest.id }}" name="{{ interest.name }}">{{ interest.name }}</option>
                                  {% endif %}
                              {% endfor %}
                           </select> 
                        </div>
                        <br>

                     </div>
                  </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-warning btn-prev">Prev</button>
                     <button type="submit" class="btn btn-warning btn-next">Next</button>

                     {% comment %} <button type="submit" class="btn btn-warning">Submit</button> {% endcomment %}
                     <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
               </fieldset>
            </form>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         </div>
      </div>
   </div>
</div>

<!-- Preference priority modal -->
<div class="modal fade" data-backdrop="static" data-backdrop="static" data-keyboard="false" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Select preference priority</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="priority_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h4>Step 5 of 5</h4>
                        <p>Select preferred priority of each preference selected:</p>
                        <div class="col-md-8"> 
                           
                           <div class="range-slider" id="department_slider" >
                              Select priority for department:
                              <input class="range-slider__range" id="department_slider_range" type="range" value="{{ selected_department_priority }}" min="1" max="10" step="1">
                              <span class="range-slider__value" id="department_slider_value" >{{ selected_department_priority }}</span>
                           </div>
                           <br>
                           <div class="range-slider" id="cuisine_slider" >
                              Select priority for cuisines:
                              <input class="range-slider__range" id="cuisine_slider_range" type="range" value="{{ selected_cuisine_priority }}" min="1" max="10" step="1">
                              <span class="range-slider__value" id="cuisine_slider_value">{{ selected_cuisine_priority }}</span>
                           </div>
                           <br>
                           <div class="range-slider" id="interest_slider" >
                              Select priority for conversation interests:
                              <input class="range-slider__range" id="interest_slider_range" type="range" value="{{ selected_interest_priority }}" min="1" max="10" step="1">
                              <span class="range-slider__value" id="interest_slider_value">{{ selected_interest_priority }}</span>
                           </div>
                        </div>
                        <br>

                     </div>
                  </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-warning btn-prev">Prev</button>
                     <button type="submit" class="btn btn-warning">Submit</button>
                     <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
               </fieldset>
            </form>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         </div>
      </div>
   </div>
</div>

<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script type="text/javascript">
	var top_cuisines = {{top_cuisines}}
   var top_interests = {{top_interests}}
</script>