<!--Service Select Modal-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Service</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form role="form" id="service_select_form" class="registration-form">
               {% csrf_token %}
               <fieldset style="display: block;">
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Step 1 of 4</h3>
                        Select preferred type of service:
                        <div class="dropdown">
                           <select type="text" id="serviceSelect" name="serviceSelect">
                              <option selected>Daily</option>
                              <option>Weekly</option>
                              <option>Monthly</option>
                           </select> 
                        </div>
                     </div>
                  </div>
               </fieldset>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-warning btn-next">Next</button>
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- School and department select Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">School and Department</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="school_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Step 2 of 4</h3>
                        <p>Select preferred school and department</p>
                        <div class="dropdown">
                            <select size = "1" type="text" id="schoolSelect" name="schoolSelect" width="300" style="width: 300px">
                              {% for school in schools %}
                                    <option value="{{ school.name }}" name="{{ school.name }}" selected>{{ school.name }}</option>
                              {% endfor %}
                           </select> 
                           <select type="text" id="departmentSelect" name="departmentSelect" width="300" style="width: 300px">
                              {% for department in departments %}
                                    <option value="{{ department.name }}" name="{{ department.name }}" selected>{{ department.name }}</option>
                              {% endfor %}
                           </select> 
                        </div>
                     </div>
                     <div class="form-top-right">
                        <i class="fa fa-key"></i>
                     </div>
                  </div>
               </fieldset>
               <div class="modal-footer">
                  <button type="button" class="btn btn-warning btn-prev">Prev</button>
                  <button type="submit" class="btn btn-warning btn-next">Next</button>
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Cuisine select Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Cuisine</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="cuisine_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Step 3 of 4</h3>
                        <p>Select preferred Cuisine:</p>
                        <div class="dropdown">
                            <select size = "4" type="text" multiple id="cuisineSelect" name="cuisineSelect" width="300" style="width: 300px" >
                              {% for cuisine in cuisines %}
                                    <option value="{{ cuisine.id }}" name="{{ cuisine.name }}" selected>{{ cuisine.name }}</option>
                              {% endfor %}
                           </select> 
                        </div>
                     </div>
                     <div class="form-top-right">
                        <i class="fa fa-twitter"></i>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-warning btn-prev">Prev</button>
                     <button type="submit" class="btn btn-warning btn-next">Next</button>
                     <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
               </fieldset>
            </form>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         </div>
      </div>
   </div>
</div>

<!-- Interest select Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Conversation Interest</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body">
            <form id="interest_select_form">
               {% csrf_token %}
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h3>Step 4 of 4</h3>
                        <p>Select preferred conversation type:</p>
                        <div class="dropdown">
                            <select size = "4" type="text" multiple id="interestSelect" name="interestSelect" width="300" style="width: 300px" >
                              {% for interest in interests %}
                                    <option value="{{ interest.id }}" name="{{ interest.name }}" selected>{{ interest.name }}</option>
                              {% endfor %}
                           </select> 
                        </div>
                     </div>
                     <div class="form-top-right">
                        <i class="fa fa-twitter"></i>
                     </div>
                  </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-warning btn-prev">Prev</button>
                     <button type="submit" class="btn btn-warning btn-next">Submit</button>
                     <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
               </fieldset>
            </form>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         </div>
      </div>
   </div>
</div>