{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Lunch Ninja</title>
	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- Custom styles for this template -->
	<link href="{% static 'css/agency.css'%}" rel="stylesheet">
	<!-- Bootstrap and Jquery CSS and JS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body id="page-top">
	
	<!-- Navigation -->
	{% include "nav_bar.html" %}

	<!-- Body -->
	<div class="container">
		<br>
		<h3 id="active_service_header">Active Service</h3>
{#		<a id="change_service_button" type="button" class="btn btn-warning" data-toggle="modal"  data-target="#myModal1" href="#myModal1">Change Service Preferences</a>#}
		{% if user_request%}
			<table id="service_table" class="table">
				<thead>
					<tr>
						<th scope="col">Service type</th>
						<th scope="col">Service started on</th>
						<th scope="col">Preferred School</th>
						<th scope="col">Preferred Department</th>
						<th scope="col">Preferred Interests</th>
						<th scope="col">Preferred Cuisines</th>
                        {% if not user_request.service_type == "Daily" %}
                        <th scope="col">Preferred Weekday</th>
                        {% endif %}
{#                        <th scope="col">Next Meeting</th>#}

						<th scope="col">Service Status</th>

					</tr>
				</thead>
				<tbody>
						<tr>
							<td>{{user_request.service_type}}</td>
							<td>{{user_request.service_start_date  | date:"jS F Y"}}</td>
							<td>
								<i><p class="preferrence_priority">Priority: {{user_request.department_priority}}/10</p></i>
								{{user_request.preffered_school}}
							</td>
							<td>
								<i><p class="preferrence_priority" >Priority: {{user_request.department_priority}}/10</p></i>
								{{user_request.preffered_department}} 
							</td>
							<td>
								<i><p class="preferrence_priority" >Priority: {{user_request.interests_priority}}/10</p></i>
								{{user_request.preferred_interests}}
							</td>
							<td>
								<i><p class="preferrence_priority" >Priority: {{user_request.cuisines_priority}}/10</p></i>
								{{user_request.preferred_cuisines}}
							</td>
                            {% if not user_request.service_type == "Daily" %}
                            <td>
								{{user_request.preferred_weekday}}
							</td>
                            {% endif %}
{#                            <td>#}
{##}
{#								{{user_request.next_meet_day}}#}
{#							</td>#}
							<td>
								<label class="switch">
									<input id="serviceToggle" type="checkbox">
									<span class="slider round"></span>
								</label>
							</td>
						</tr>
				</tbody>
			</table>
		{% else %}
			<p>No service found, please subscribe to Lunch Ninja! :)</p>
		{% endif %}
	
	<br>
		<h3 id="active_service_header">User Profile</h3>
		<a id="change_service_button" type="button" class="btn btn-warning"  href="/password_reset/">Change Password</a>
        <>
        <a id="change_service_button" type="button" class="btn btn-warning" onclick="editprofile()">Edit Profile</a>
			<table id="service_table" class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>
						<th scope="col">School</th>
						<th scope="col">Department</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>
								{{user_profile.name}}
							</td>
							<td>
								{{user_profile.username}}
							</td>
							<td>
								{{user_profile.email}}
							</td>
							<td>
								{{user_profile.school}}
							</td>
							<td>
								{{user_profile.department}} 
							</td>
						</tr>
				</tbody>
			</table>
	</div>

	<!-- Footer -->
	{% comment %} {% include "footer.html" %} {% endcomment %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiselect/2.2.9/js/multiselect.min.js"></script>
<script type="text/javascript" src="{% static 'js/service-pop-up.js' %}"></script>
<script type="text/javascript">
	var userServiceStatus = '{{user_request.service_status}}' == 'True'? true:false
</script>
<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/service-pop-up.js' %}"></script>
<script>
    function editprofile(){
        alert("Thank you for using Lunch Ninja. If your information is registered wrong, please contact teamstellarse@outlook.com.")
    }
</script>>

</html>